body {
	background-color: white;
}

* {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

nav {
	background-color: gray;
	padding: 50px 20px;
}

#logo {
	float: left;
	display: inline;
	color: lightblue;
	font-size: 25px;
}

#uppernavlist li {
	display: inline;
	padding: 0 10px;
	float: right;
}

.blogpost1 {
	margin: 50px 20px;
	width: 65%;
	float: left;
}

aside {
	margin: 50px 20px;
	width: 25%;
	float: left;
}

h3 {
	padding-top: 30px;
	font-weight: bold;
}

a {
	padding: 10px
}

footer {
	background-color: gray;
	padding: 50px;
	text-align: center;
	clear: both;
}
